<div class="panel panel-<%= comment_panel_styling(comment) %>">
  <div class="panel-heading">
    <strong>Commenter:</strong>
    <%= comment.user.login %>
  </div>
  <div class="panel-body">
    <%= comment.body %>
    <p>
      <% if can? :destroy, comment %>
        <%= link_to 'Delete Comment',
        [comment.article, comment],
        method: :delete,
        data: { confirm: 'Are you sure?' } %>
      <% end %>
    </p>
  </div>
</div>
