// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  .field_with_errors{
    label{color:red;}
    input{border:1px dotted red;}
  }

  table.table {
    > thead, > tbody, > tfoot{
       > tr {
         > td, > th{
          vertical-align: middle;
        }
      }
    }
  }

  #new-article-btn{
    margin-bottom: 15px;
  }
}
