// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comments{
  .panel-body {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
   .panel{
    transition: border-color 1s ease;
    .panel-heading{
      transition: color 1s ease, background-color 1s ease, border-color 1s ease;
    }
  }
}
