@import 'variables';

@font-face {
    font-family: 'Before The Rain';
    src: font_url('BeforeTheRain.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.navbar-brand:before {
    content: "B";
    font-family: "Before The Rain";
    font-size: 20px;
    text-shadow: -0.5px -0.5px 1px rgb(255, 255, 255), 0.5px 0.5px 1px rgb(0, 0, 0);
    color: $navbar-default-bg;
    vertical-align: top;
}
body { padding-top: 70px; }
