div#overlay{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.95);
  z-index: 1030;
  @media only screen and (min-width:730px){
    padding-top: 100px;
  }
  h1{
    font-size: 5em;
    font-weight: 100;
  }
  .col-md-6{
    padding: 0px 25px;
    h2{
      font-weight: 100;
    }
    div.launch-tour{
      button{
        margin:7px;
      }
    }
    div.cliffs-notes{
      ul.notes{
        max-width: 350px;
      }
    }
  }
}
