<div id="overlay">
  <div class="intro">
    <h1>Intro</h1>
  </div>
  <div class="launch-tour"><h2>Launch Tour</h2>
    <button class="go btn button btn-success">Go!</button>
    <button class="no btn button btn-danger" id="no-button">No!</button>
  </div>
  <div class="cliffs-notes">
    <h2>tl;dr</h2>
    <ul class="notes">
      <li>This is where I should put a brief description of the website navigation and functionality.</li>
      <li>feature one</li>
      <li>tip two</li>
    </ul>
  </div>
</div>
