<div id="overlay" class="phone">
<div class="col-xs-12">
  <div class="text-center">
    <h1>Intro</h1>
  </div>
</div>
<div class="col-sm-6 center-block text-right">
  <div class="launch-tour center-text"><h2>Launch Tour</h2>
    <button class="go btn button btn-success">Go!</button>
    <button class="no btn button btn-danger" id="no-button">No!</button>
  </div>
  </div>
<div class="col-sm-6 center-block">
  <div class="cliffs-notes">
    <h2>tl;dr</h2>
    <ul class="notes">
      <li>This is where I should put a brief description of the website navigation and functionality.</li>
      <li>feature one</li>
      <li>tip two</li>
    </ul>
  </div>
</div>
</div>
